@charset "UTF-8";
@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-text-size-adjust: 100%;
}

/* ======= COMMON CSS ======= */

html, body{
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
}

img {
	width: auto;
}

h2{
	text-align:center;
	color: #F49C28;
}

p {
	font-size: 1rem;
	font-weight: 300;
	line-height: 150%;
}

ul{
		list-style-type: none;
	}
	
	.shadow {
   -moz-box-shadow:    inset  0  5px 5px -5px #696868, 
                        inset  0 -5px 5px -5px #696868;
    -webkit-box-shadow: inset  0  5px 5px -5px #696868, 
                        inset  0 -5px 5px -5px #696868;
     box-shadow:        inset  0  5px 5px -5px #696868, 
                        inset  0 -5px 5px -5px #696868;
}

/* ======= HEADER SECTION ======= */

header {
	padding: 1rem 0 0;
	height: 100%;
}

.logo img {
	margin-left: 5%;
	margin-top: 1.5rem;
	float:left;
	width: 200px;
	position: absolute;
}

/* ======= BANNER SECTION ======= */

section {
	padding: 10rem 0;
	text-align:center;
	color:#FFFFFF;
}

.banner-section {
	background: transparent url(../images/mockup-pano.jpg) no-repeat center top;
	background-size: cover;
}

.sun {
	width: 100px;
	text-align:center;
	padding-bottom: 2rem;
}


/* ======= ABOUT SECTION ======= */

.about{
	text-align:center;
	background-image: url(../images/halftone.png); 
	padding: 6rem 0%;
}

.about h2,p{
	width: 70%;
	margin-left:auto;
	margin-right:auto;
}

.about h2{
	color: #F49C28;
}

.about p{
	color:#696969;
}
		
/* ======= PORTFOLIO SECTION ======= */

.portfolio{
	padding: 4rem 0%;
	background-image: url(../images/light.png); 

}

.portfolio p{
	text-align:left;
	margin-left: 0%;
}


/* ======= SERVICES SECTION ======= */

.services{
	background-image: url(../images/paper_texture.png); 
	padding-top: 6rem;
	padding-bottom: 3rem;
}

.box{
	margin-top: 2rem;
	background-image: url(../images/paper_texture.png);
}

.box img{
	width: 20%;
}

.services p{
	text-align:center;
}

/* ======= FOOTER SECTION ======= */

.footer {
	background-image: url(../images/footer.png); 
	color: #fff;
	text-align:center;
	padding-bottom: 3rem;
}

.social{
	padding: 2rem 0;
}

.social img{
	width: 50px;
}

.search{
	padding-top:2rem;
}

.footer h2{
	color:#E7E7E7;
	margin-top:2rem;
}

#search input[type="text"] {
    background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
    width: 200px;
}
	
	
.banner-section{
	margin-top: 5rem;
}


.big_box {
	background-image: url(../images/paper_texture.png);
	text-align:center;
	padding: 4rem 0%;
	background-color:#DCDCDC;
}
	
.box { 
	width: 100%; 
	display:inline-block;
}
	
.clear { 
	clear: both ;
}

/* ======= GRID ======= */

.unit {
  display: inline-block;
}

.unit-left {
  visibility: visible;
  width: 50%;
  float: left;
  height: 12rem;
}

.unit-right {
  visibility: visible;
  width: 50%;
  float:right;
  height: 12rem;
}


/* ======= TRANSITIONS ======= */

.ease-all{
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.fade-banner p {
	animation-delay: 500ms;
}

/* ======= NAVIGATION STYLES ======= */
.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display: block;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 35px;	
	right: 5%;
	background: #333 url('../images/nav-icon.svg') no-repeat center center;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active{
	background-color: #F49C28;
}

.nav a, 
.nav a:link,
.nav a:visited{
	display: block;
	padding: 1rem;
	text-align:center;
	color: #333;
	font-weight: 400;
	font-size: 0.9rem;
	text-decoration: none;
	background-color: #fff;
	border-top: 1px solid #fff;
}

.nav a:hover,
.nav a:focus,
.nav a:active{
	background-color: #F49C28;
	border-radius: 5px;
	color: #fff;
}

.nav-btn[data-state="active"] {
	background: #fff url('../images/nav-close.svg') no-repeat center center;
}

.nav-top{
	max-height: 0;
	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
	overflow:hidden;
}

.nav-top[data-state="expanded"]{
	max-height: 10rem;
	margin-top:4rem;
	margin-bottom: -4rem;
}

.nav-arrow{
	width: 50px;
	margin-top:3rem;
	margin-bottom: -3rem;
	margin-left:auto;
	margin-right:auto;
}

.nav-arrow-up{
	width: 50px;
	margin-left:auto;
	margin-right:auto;
}

/* ======= RESPONSIVE - TABLET SCREEN ======= */

@media only screen and (min-width:35em) {
	.banner-section{
		margin-top: 5rem;
	}
	
	.nav {
		margin-right: 3%;
		margin-top:0.75rem;
		float:right;
		overflow:auto;
	}
	
	.nav li {
		float:left;
		width: 33.33%;	
	}
	
	.nav-btn,
	.nav-btn:link,
	.nav-btn:visited {
		display: none;
	}
	
	.nav-top{
		max-height: 14rem;
	}
	
	.nav a, 
	.nav a:link,
	.nav a:visited{
		display: block;
		padding: 1rem;
		text-align:center;
		color: #.feature img{
		float:right;
		width: 50%;
		margin: 0 0 2rem 1rem;
	}
	
	.clear { 
		clear: both ;
	}
	
	
}


/* ======= RESPONSIVE - DESKTOP SCREEN ======= */

@media only screen and (min-width:45em) {
	header {
		overflow:auto;
	}
	
	.nav {
		background-color: #fff;
		text-align:center;
	}
	
	.nav li {
		display:inline-block;
		float:none;
		width:auto;
		margin: 0rem;
	}

	.nav a,
	.nav a:link,
	.nav a:visited {
		border-top: 0;
	}

	.nav-top {
		text-align:center;
	}
	.banner-section{
		margin-top: 1rem;
	}
		
	.portfolio{
		padding-left: 10%;
		padding-right: 10%;
	}
	
	.big_box {
		text-align:center;
		padding: 4rem 0%;
		background-color:#DCDCDC;
	}
	
	.box { 
		width: 30%; 
		display:inline-block;
	}
	
	.box img{
		width: 30%;
	}
	
		
	.clear { 
		clear: both ;
	}
}
	
	
@media only screen and (min-width:85em) {
	.about{
		padding-left: 10%;
		padding-right: 10%;
	}
	
	.portfolio{
		padding-left: 10%;
		padding-right: 10%;
	}
	
	.services{
		padding-left: 10%;
		padding-right: 10%;
	}
	
	
}